*{padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.layout{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 100vh;
    padding: none;


}
.layout1 {
  color: green;
   padding: none;
   margin: 0;
    border-left:1px solid #000;
/*  box-sizing:border-box;*/
  top: 0;
  background: white;
  


}

.logo {

left: 10vw;
 width: 20vw;
  z-index: 4;

}

#layout1a {
 /*  border:2px solid #000;
  box-sizing:border-box;*/
  grid-column-start: 1;
  grid-column-end: 3; 
  grid-row: 1; 
  z-index: 4;
    border-left: 1px solid #000;
  box-sizing:border-box;
  padding-top: 20vw;
  padding-left: 6vw;
  padding-right: 6vw;
  /*background: red;*/
}

.heading{
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;*/
  font-family: arial black;
 padding-top: 0;
/* color: white;*/
 font-size: 1.5em;
}

.rightTocity{
  font-family: arial black;
}

#cityScene {

  z-index: 10;
  width: 20vw;
    transform: scale(.2, .2);

}
#layout1b {
grid-column-start: 3;
  grid-column-end: 5; 
  grid-row: 1; 
  z-index: 3;
  padding-top: 4vw;
  padding-left: 3vw;
  padding-right: 3vw;
  font-size: .85em;
 
}

#layout1c {
 grid-column-start: 5;
  grid-column-end: 6; 
  grid-row: 1; 
  z-index: 5;
   padding-top: 4vw;
  padding-left: 3vw;
  padding-right: 3vw;
  font-size: .85em;
 

}

/*.block4 {
 grid-column-start: 4;
  grid-column-end: 6; 
  grid-row: 1; 
  z-index: 1;

}*/


/*.block2 {
  width: 40vw;
  height: 100vh;
  left: 20vw;
  margin-left: 20vw;
  top: 0;
  background: blue;
}

.block3 {
  width: 40vw;
  height: 100vh;

  margin-left: 40vw;
  top: 0;
  background: blue;
}

.block5 {
  width: 40vw;
  height: 100vh;

  margin-left: 40vw;
  top: 0;
  background: blue;
}*/